<section class="categorias">
  <div class="categorias-title">
    <h2 class="title_categoria border-bottom">Categorías</h2>
  </div>

  <!--carousel-->
  <div class="col-12 justify-content-center align-items-center mb-4">
    <img class="d-flex w-100" src="img/categorias/img.png" alt="" />
  </div>

  <!--fin de carousel-->
</section>
