<div class="jumbotron jumbotron-fluid bg-warning">
    <div class="container mt-0">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-6">
                <h1 class="display-4">¿qué vas a publicar?</h1>
                <p class="lead">Publica en solo minutos para que tu producto </br> 
                esté en frente a millones de consumidores.</p>
                <a class="btn btn-outline-dark btn-lg" href="/products/form_prod" role="button">Vender</a>
            </div>
            <div class="col-4">    
                <div class="position-relative">
                    <div class="position-absolute">
                        <img class="beer_ventas position-absolute" width="50" src="img/banner/beer_shadow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<script defer src="/js/duffBeer.js"></script>






</section>