<section class="ventas_box ">
    <div class="pepito d-flex justify-content-between align-items-center ml-auto">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-3 d-flex flex-wrap border-5">
            <a class="venta_box d-flex flex-wrap " href="/products/vender">
                <h4>crea un anuncio </br>gratis</h4>
                <p>Publica en solo minutos para que tu producto esté
                    en frente a millones de consumidores.</p>
                <h2>vende ahora</h2>
            </a>
        </div>
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-3 d-flex position-relative">
            <img class="beer_ventas position-absolute" src="img/banner/beer_shadow.png" alt="">
        </div>
    </div>
    <div class="slogan_ventas col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-4  d.flex">
        <p class="mb-0">Siempre es buen momento</p>
        <p class="mb-2 ml-4">para darse un gusto...</p>
    </div>
<!--
    <div class="container bg-warning w-100 p-0 m-0">
        <div class="row">
            <div class="col-12  p-5">
                <div class="media">
                    <div class="media-body col-3 border border-dark border-3 p-3">
                        <h4>crea un anuncio</h4>
                        <h4>gratis</h4>
                        <h5 class="font-weight-light">publica en solo minutos 
                            para que tu producto esté 
                            en frente a millones 
                            de consumidores</h5>
                        <a class="" href="/form_prod.ejs">
                            <button type="button" class="btn btn-outline-dark border-3 rounded-0 m-auto font-weight-bold">vende ahora</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
-->
</section>