<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include("partials/head", {title: "Registro"}) %>
    </head>

    <body class="bg_color">

    <!--header/javi -->
    <%- include("partials/header") %>

    <!--ventas/diego -->
    <section class="container mt-5 mb-5">
        <div class="row">
            <form class="col-xl-9 col-lg-9 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded" 
            for="/form_prod"
            method="POST"
            enctype="multipart/form-data"
            >

                <div class="register-title col-12">
                    <h2 class="title_categoria">
                        <i class="fas fa-hand-holding-usd text-black-50"></i></i> Vende por Canilla<strong>Libre</strong>.com
                    </h2>
                </div>

                <div class="dropdown-divider"></div>

                <!-- titulo de venta -->

                <h4 class="mb-4 mt-4">¿Qué es lo que estas vendiendo?</h4>
                <div class="row align-items-center">
                    <div class="form-group col-9">
                        <label for="titulo">Título del Anuncio</label>
                        <input type="text" class="form-control" id="titulo" value="" aria-describedby="sell_title" name="titulo" placeholder="Introduce el nombre de tu producto">
                    </div>

                    <!-- envios -->

                    <div class="col-3">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="sell_envios">
                            <label class="custom-control-label" for="sell_envios">Puedo hacer envios!</label>
                        </div>
                    </div>
                </div>

                <!-- descripcion -->

                <div class="form-group">
                    <label for="descripcion">Hace una breve despricion de lo que vas a vender</label>
                    <textarea class="form-control" id="descripcion" rows="3" placeholder="No te olvides datos importantes" name="descripcion" ></textarea>
                </div>
                <div class="row">

                    <!-- origen -->

                    <div class="form-group col-3">
                        <label for="origen" name="origen">Origen</label>
                        <select id="origen" class="form-control" >
                            <option selected>Seleccione...</option>
                            <option>Nacional</option>
                            <option>Internacional</option>
                        </select>
                    </div>
                    <!-- tipo -->
                    <div class="form-group col-3">
                        <label for="tipo" name="tipo">Tipo</label>
                        <select id="tipo" class="form-control" >
                            <option selected>Seleccione...</option>
                            <option>Cerveza</option>
                            <option>Insumos</option>
                            <option>Alquiler</option>
                            <option>Cursos</option>
                            <option>Merchandesing</option>
                            <option>Cursos</option>
                        </select>
                    </div>
                    <!-- categoria -->
                    <div class="form-group col-3">
                        <label for="categoria" name="categoria">Categoría</label>
                        <select id="categoria" class="form-control">
                            <option selected>Seleccione...</option>
                            <option>Ale</option>
                            <option>Ipa</option>
                            <option>Lager</option>
                            <option>Lambic</option>
                            <option>Pilsen</option>
                            <option>Porter</option>
                            <option>Stout</option>
                            <option>Trigo</option>
                            <option>Sin Alcohol</option>
                            <option>Especiales</option>
                        </select>
                    </div>
                    <!-- presentacion -->
                    <div class="form-group col-3">
                        <label for="presentacion" name="presentacion">Presentación</label>
                        <select id="presentacion" class="form-control">
                            <option selected>Seleccione...</option>
                            <option>Lata</option>
                            <option>Porron</option>
                            <option>Botella</option>
                            <option>Barril</option>
                            <option>Chopera</option>
                        </select>
                    </div>
                </div>
                <!-- imagen1 -->
                <div class="row mt-2 mb-4 justify-content-between">
                    <div class="form-group col-4">
                        <p class="mb-1">Primera imagen</p>
                        <div class="custom-file">

                            <input type="file" class="custom-file-input" id="imagen1" lang="es" name="imagen1"/>
                            <label class="custom-file-label" for="imagen1">Seleccionar Archivo</label>

                        </div>
                    </div>
                    <!-- imagen2 -->
                    <div class="form-group col-4">
                        <p class="mb-1">Segunda Imagen</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="imagen2" lang="es" name="imagen2"  />
                            <label class="custom-file-label" for="imagen2">Seleccionar Archivo</label>
                        </div>
                    </div>
                    <!-- imagen3 -->
                    <div class="form-group col-4">
                        <p class="mb-1">Tercera imagen</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="imagen3" lang="es" name="imagen3" />
                            <label class="custom-file-label" for="imagen3">Seleccionar Archivo</label>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-divider"></div>

                <div class="row align-items-center justify-content-between bg-light m-1">
                    <!-- precio -->
                    <div class="form-group col-3">
                        <label for="precio"><i class="fas fa-hand-holding-usd"></i> Precio</label>
                        <input type="number" class="form-control" id="precio" name="precio" placeholder="precio" aria-describedby="sell_price"/>
                    </div>
                    <!-- cantidad -->
                    <div class="form-group col-3">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="cantidad" aria-describedby="sell_quantity"
                             />
                    </div>
                    <!-- descuento -->
                    <div class="form-group col-3 p-2">
                        <label for="descuento"><i class="fas fa-percentage"></i> Descuento</label>
                        <input type="number" class="form-control" id="descuento " name="descuento" placeholder="porcentaje" aria-describedby="sell_discount"/>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                
                <!-- datos de contacto -->
                <div class="col-12">
                    <h5 class="mb-4 mt-4">Necesitamos datos para contactarte</h5>
                </div>
                <div class="form-row  mb-2">
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Nombre de Comercio">
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" placeholder="Telefono de Contacto">
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Código Postal">
                    </div>
                    
                </div>
                <div class="form-row justify-content-between mb-3">
                    <div class="col-7">
                        <input type="text" class="form-control" placeholder="Dirección">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Ciudad">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Provincia">
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <!-- políticas -->
                <div class="col-12 d-flex justify-content-center mt-3">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="sell_politic">
                        <label class="custom-control-label" for="sell_politic">Acepto terminos y condiciones</label>
                    </div>
                </div>
                <!-- boton enviar -->
                <div class="col-12 d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-outline-warning mt-3 mb-3">
                        Publicar
                    </button>
                </div>
                <div class="dropdown-divider"></div>
                
            </form>
        </div>
    </section>
      
    <!--footer/fran -->
    <%- include("partials/footer") %>
</body>
</html>
