<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {title: "no no no!"}) %>
    <body class="bg_color">
        <%- include("partials/header") %>

        <section class="container d-flex justify-content-center aling-items-center rounded animate__animated animate__bounceIn">
            <div class="card mb-5 mt-5" style="width: 20rem;">
                <img src="https://media1.tenor.com/images/dcce44122c287cdee16b1e880d49d094/tenor.gif?itemid=7855872" class="card-img-top p-2" alt="...">
                <div class="card-body">
                <h5 class="card-title">Usuario no registado</h5>
                <p class="card-text">Te invitamos a registrarte, para poder ser parte de esta comunidad Cervecera!</p>
                <div class="mt-5 mb-2">
                <a href="/auth/register" class="btn btn-outline-warning m-auto"> <i class="far fa-user-circle"></i> Regitrate!</a>
                
                </div>
            </div>
        </section>
        <!--footer-->
        <%- include("partials/footer") %>
    </body>
</html>
