<!DOCTYPE html>
<html lang="en">
  <!--head-->
  <%- include("partials/head", {title: "Canilla Libre - Login"}) %>

  <body class="bg_color">
    <!--header-->
    <%- include("partials/header") %>

      <!--VALIDATION-->
      <% if (typeof errors != "undefined") { %>
      <p>ERROR</p>
      <ul>
        <% for (let i=0; i<errors.length;i++) { %>
        <li>
          <%= errors[i].msg %>
        </li>
        <% } %>
      </ul>
      <% } %>

    <!--login-->
    <!-- Section es todo el contenedor -->
    <section class="container mt-5 mb-5">
      <div class="row">
        <form
          class="col-xl-5 col-lg-5 col-md-6 col-sm-6 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn"
          action="/auth/login"
          method="POST"
          
        >
          <div class="register-title col-12">
            <h2 class="title_categoria">
              <i class="far fa-user-circle text-black-50"></i> Ingresa a tu
              cuenta
            </h2>
          </div>
          <div class="dropdown-divider"></div>

          <!-- email -->
          <div class="form-group row">
            <div class="form-group col">
              <label for="email">Direccion Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="email"
                required
              />
              <small id="email" class="form-text text-muted"
                >Ingrese su correo: nombre@dominio.com</small
              >
            </div>
          </div>

          <!-- password -->
          <div class="form-group">
            <label for="pass">Contraseña</label>
            <input
              type="password"
              class="form-control"
              name="pass"
              id="pass"
              aria-describedby="pass"
              
            />
          </div>

          <!-- guardar usr -->
          <div class="col-12 d-flex justify-content-center mt-3">
            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                name="recordarme"                
                id="recordarme"
              />
              <label class="form-check-label" for="politic">
                Recordarme
              </label>
            </div>
          </div>
          <!-- boton enviar -->
          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-warning mt-3 mb-3">
              Ingresar
            </button>
          </div>
        </form>
      </div>

      <!--script para filename del avatar-->
      <script>
        $("#avatar").on("change", function () {
          //get the file name
          var fileName = $(this).val();
          //replace the "Choose a file" label
          $(this).next(".custom-file-label").html(fileName);
        });
      </script>
    </section>

    <!--footer/fran -->
    <%- include("partials/footer") %>
  </body>
</html>
