<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head", {title: "no no no!"}) %>
    <body class="bg_color">
        <%- include("partials/header") %>

        <section class="container d-flex justify-content-center aling-items-center rounded animate__animated animate__bounceIn mt-5 mb-5 ml-auto mr-auto">
            <div class="card mb-5 mt-5" style="width: 20rem;">
                <h1 class="alert text-warning text-center mt-5"><i class="fas fa-exclamation-triangle"></i></h1>
                <div class="card-body">
                <h5 class="card-title text-center text-muted">No tienes Acceso</h5>
                <p class="card-text text-center text-muted">Para poder Vender primero necesitamos que te Registres e Inicies Sesión</p>
                <div class="mt-5 mb-2">
                <a href="/auth/register" class="btn btn-outline-warning mr-2"> <i class="far fa-user-circle"></i> Regitrate!</a>
                <a href="/auth/login" class="btn btn-outline-secondary ml-2"> <i class="far fa-user-circle"></i> inicia Sesión!</a>
                </div>
            </div>
        </section>
        <!--footer-->
        <%- include("partials/footer") %>
    </body>
</html>
