<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head", {title: "Registro"}) %>

  <body class="bg_color">
    <!--header/javi -->
    <%- include("partials/headerGuest") %>

    <!--VALIDATION-->
    <% if (typeof errors != "undefined") { %>
    <p>ERROR</p>
      <ul>
        <% for (let i=0; i<errors.length;i++) { %> 
          <li>
            <%= errors[i].msg %> 
          </li>
        <% } %> 
      </ul>
    <% } %>

    <!--registro/diego-->
    <!-- Section es todo el contenedor -->
    <section class="container mt-5 mb-5">
      <div class="row">
        <form
          class="col-xl-7 col-lg-7 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn"
          action="/auth/register"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="register-title col-12">
            <h2 class="title_categoria">
              <i class="far fa-user-circle text-black-50"></i> Crea tu cuenta
            </h2>
          </div>
          <div class="dropdown-divider"></div>
          <!-- Nombre y Apellido -->

          <div class="form-group row">
            <div class="form-group col">
              <label for="firstname">Nombre</label>
              <input
                type="text"
                class="form-control"
                name="firstname"
                id="firstname"
                aria-describedby="firstname"
              />
            </div>

            <div class="form-group col">
              <label for="lastname">Apellido</label>
              <input
                type="text"
                class="form-control"
                name="lastname"
                id="lastname"
                aria-describedby="lastname"
              />
            </div>
          </div>

          <!-- email -->
          <div class="form-group row">
            <div class="form-group col-8">
              <label for="email">Direccion Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                aria-describedby="email"
              />
              <small id="email" class="form-text text-muted"
                >Ingrese su correo: nombre@dominio.com</small
              >
            </div>
            <div class="form-group col-4">
              <label for="date">Fecha de nacimiento</label>
                <input type="date" name="date" class="form-control"> 
                <i class="glyphicon glyphicon-th"></i>
            </div>
          </div>

          <!-- password -->

          <div class="form-group">
            <label for="pass">Contraseña</label>
            <input
              type="password"
              class="form-control"
              name="pass"
              id="pass"
              aria-describedby="pass"
            />
            <small id="passwordHelpBlock" class="form-text text-muted">
              Debe tener entre 4 a 8 caracteres.
            </small>
          </div>

          <!-- password2 -->
          <div class="form-group">
            <label for="pass2">Repita su contraseña</label>
            <input
              type="password"
              class="form-control"
              name="pass2"
              id="pass2"
              aria-describedby="pass2"
            />
          </div>

          <!-- avatar -->
          <p class="mb-1">Seleccione una imagen</p>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              name="avatar"
              id="avatar"
              lang="es"
              required
            />
            <label class="custom-file-label" for="avatar"
              >Seleccionar Archivo</label
            >
          </div>

          <!-- políticas -->
          <div class="col-12 d-flex justify-content-center mt-3">
            <div class="form-check mt-2">
              <input
                class="form-check-input"
                type="checkbox"
                name="politic"
                value="true"
                id="politic"
              />
              <label class="form-check-label" for="politic">
                Acepto Terminos y Condiciones
              </label>
            </div>
          </div>
          <!-- boton enviar -->
          <div class="col-12 d-flex justify-content-center mt-2">
            <button type="submit" class="btn btn-outline-warning mt-3 mb-3">
              Registrate
            </button>
          </div>
          <div class="dropdown-divider"></div>
          <div class="col-12 text-center mt-2">
            <div class="facebook">
              <!-- registrate via facebook -->
              <a class="facebook" hre="https://www.facebook.com/"
                ><i class="fab fa-facebook"></i> Registrate vía Facebook</a
              >
            </div>
            <!-- ya tenes una cuenta -->
            <div class="withcount">
              <p>Ya tienes una cuenta?<a href=""> Ingresa a tu cuenta</a></p>
            </div>
          </div>
        </form>
      </div>

      <!--script para filename del avatar-->
      <script>
        $("#avatar").on("change", function () {
          //get the file name
          var fileName = $(this).val();
          //replace the "Choose a file" label
          $(this).next(".custom-file-label").html(fileName);
        });
      </script>

    </section>

    <!--footer/fran -->
    <%- include("partials/footer") %>
  </body>
</html>
