
.title-principal {
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}
.title-principal2 {
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    border-left: 1px solid #197582;
}

.title-principal3 {
    font-size: 0.9em;
    font-weight: bold;
    background-color: green;
    color: white;
    font-family: 'Lato', sans-serif;
    border: 1px solid white;
    border-radius: 25px;
}

.btn-carrito {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.btn-edit {
    background-color: #FDBE01;
    color: black;
    border: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.btn-eliminar {
    border: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.title-table {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.subtitle-table {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 0.9em;
    border: 1px solid black;
    border-radius: 5px;
}

.star {
    font-size: 1.1em;
   color: #FDBE01;
   border-left: 1px solid #197582;
}
.link-comments {
    font-size: 0.7em;
    color: black;
}

.title-product {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
