:root {
  --amarillo: #fdbe01;
  --azul_oscuro: #2f4858;
  --gris: #dfdfdf;
  --azul_verde: #006674;
  --verde: #87b235;
  --facebook: #465996;
  --gris_oscuro: rgb(33, 37, 41);
}

.registerbody {
  background: linear-gradient(to bottom, #fdbe01 50%, #f1f1f1 50%); /* W3C */
}

/*---form_register---*/

.custom-file-label::after {
  content: "Buscar" !important;
}
